.container{
    position: relative;
    left: 18.4%;
    width: 62%;
    height: 135%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
    height: 4%;
    border-bottom: 3px dashed #e84d07;
}
.dropdown {
    margin: 0;
    padding: 0;
    right: 2%;
    position: absolute;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.logo{
    padding: 0;
    margin-left: 35%;
    margin-top: 1%;
}
.logo_picture{
    width:100%;
    max-width:45%;
}
.dropbtn_up {
    border: double 2px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    background-image: url("../IMG/FLAGS/flag_e.jpg");
    background-size: cover;
}
.dropbtn_down {
    border: double 2px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    background-image: url("../IMG/FLAGS/flag_r.jpg");
    background-size: cover;
    z-index: 20;
}
.button_list {
    font-family: "Book Antiqua";
    text-align: center;
    font-size: 25px;
    border: double #E8B424;
    height: 60px;
    width: 120px;
    border-radius: 10%;
    background-color: #e84d07;
}
.button_list:hover {
    background-color: #ffaf24;
}
.tables{
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width:100%;
    border-spacing: 0;
    z-index: 10;
}
.external_links {
    text-align:center;
}
.change_page {
    position: absolute;
    top: 7%;
    left: 0;
    width: 850px;
    height: 85%;
}
.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    border-top: 3px dashed #e84d07;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #006db2;
}

