/* container ce contine intreaga pagina */
.container{
    position: relative;
    left: 18%;
    width: 62%;
    height: 145%;
    text-align: center;
}
.header {
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
    height: 4%;
    border-bottom: 3px dashed #e84d07;
}
/* pentru fnctionaloitatea de dropdown */
.dropdown {
    margin: 0;
    padding: 0;
    right: 2%;
    position: absolute;
    display: inline-block;
}
/* la ce se face dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* div-ul logoului */
.logo{
    padding: 0;
    margin-left: 35%;
}
/* imaginea logoului */
.logo_picture{
    width:100%;
    max-width:45%;
}
/* primul buton cu limba */
.dropbtn_up {
    border: double 2px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    background-image: url("../IMG/FLAGS/flag_e.jpg");
    background-size: cover;
}
/* al doilea buton cu limba */
.dropbtn_down {
    border: double 2px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    background-image: url("../IMG/FLAGS/flag_r.jpg");
    background-size: cover;
}
/* butoanele din meniul principal */
.button_list {
    font-family: "Book Antiqua";
    text-align: center;
    font-size: 25px;
    border: double #E8B424;
    height: 55%;
    width: 120px;
    border-radius: 10%;
    background-color: #e84d07;
    padding: 15%;
}
.button_list:hover {
    background-color: #ffaf24;
}
/* structura ce contine butoanele din meniul principal */
.tables{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 30%;
    width:40%;
    z-index: 10;
}
/* link-uri externe */
.external_links {
    text-align:center;
}
/* div-ul ce se schimba */
.change_page {
    position: absolute;
    top: 8.5%;
    left: 0;
    width: 100%;
    height: 82%;
}
/* footer */
.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    border-top: 3px dashed #e84d07;
}
.linie{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #006db2;
}
