.container_suport{
    padding-top: 2%;
    text-align:center;
    line-height: 150%;
    border: 2px solid #004768;
    padding-left: 2%;
    border-radius: 25px;
    width: 98%;
    height: 96%;
    overflow: scroll;
    background-color: #e6d8ac;
}
.btn{
    position: relative;
    width: 30%;
    height: 17%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Book Antiqua";
    font-size: 30px;
    color: #e84d07;
    background-color: #004768;
    border: double #E8B424;
}
.btn:hover {
    background-color: #ffaf24;
}
.sad_face{
    padding-left: 35%;
    width: 200px;
}
.h2_text{
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Arial Unicode MS";
}
.suport_table{
    margin-left: 8%;
    font-family: "Arial Unicode MS";
    font-size: 20px;
    width: 80%;
}
textarea{
    resize: none;
}