        table {
            font-family: "Book Antiqua";
            font-size: 20px;
            border-collapse: collapse;
            width: 97%;
            margin-bottom: 1%;
        }
        td, th {
            border: 1px solid #006db2;
            text-align: center;
            padding: 20px;
            left: 20px;
        }
        .container_user_edit {
            position: absolute;
            top: 0;
            left: 250px;
            width: 850px;
            height: 105%;
            border-left: 3px solid #e84d07;
            border-right: 3px solid #e84d07;
            padding-left: 2%;
            text-align: justify;
            border-radius: 25px;
            word-wrap: break-word;
            overflow: scroll;
            background-color: #b0edae;
        }
        .reg_header{
            font-family: Georgia;
            text-align: center;
            font-size: 30px;
            font-style: italic;
            font-weight: bolder;
            line-height: 40px;
            height: 70px;
        }
        .reg_body{
        }
        body {
            margin: 0;
            padding-bottom: 5.5%;
            height: 100vh;
            width: 100vw;
            background-color: #006db2;
        }
        html{
            min-height: 100%;
            position: relative;
        }
        .btn{
            position: relative;
            width: 25%;
            height: 6%;
            bottom: 0;
            left: 35%;
            font-family: "Book Antiqua";
            font-size: 30px;
            color: black;
            background-color: #e84d07;
            border: double #E8B424;
            margin-top: 1%;
        }
        .btn:hover {
            background-color: #ffaf24;
        }
        .box{
            width: 80%;
            height: 30px;
        }
        h2{
            font-family: Georgia;
            font-style: italic;
            color: #e84d07;
        }
