.container_forgot {
    font-family: "Book Antiqua";
    position: absolute;
    top: 0;
    left: 250px;
    width: 850px;
    height: 100%;
    border-left: 3px solid #e84d07;
    border-right: 3px solid #e84d07;
    padding-left: 2%;
    text-align: justify;
    border-radius: 25px;
    overflow: scroll;
    background-color: #b0edae;
}
.sad_face{
    padding-left: 25%;
    padding-top: 5%;
    max-height: 45%;
    max-width: 45%;
}
body {
    margin: 0;
    padding-bottom: 5.5%;
    background-color: #006db2;
}
html{
    min-height: 100%;
    position: relative;
}
h2{
    padding-left: 5%;
    padding-right: 5%;
    text-align:center;
}
.btn{
    position: relative;
    width: 23%;
    height: 6%;
    bottom: 0;
    left: 36%;
    font-family: "Book Antiqua";
    font-size: 30px;
    color: black;
    background-color: #e84d07;
    border: double #E8B424;
    margin-top: 1%;
}
.btn:hover {
    background-color: #ffaf24;
}
.box{
    width: 35%;
    height: 30px;
    margin-left: 30%;
    margin-bottom: 2%;
}
