body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: center darkslategray;
}

.page-title {
    color: gold;
    font-size: 300%;
    font-family: Arial;
    padding:1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.game-info{
    color: palegoldenrod;
    font-size: 100%;
    font-family: Arial;
    margin-left: 10%;
    margin-right: auto;
    border: 10px darkgoldenrod;
}

.game-window{
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px darkgoldenrod;
    background: rgba(0,0,0,0.55);
}

.button{
    width: 15%;
    border-radius: 25%;
    font-size: 200%;
    font-family: Arial;
    background: rgba(0,0,0,0.4);
    color: gold;
    border: 1.5px solid;
    border-color: darkgoldenrod;
    border-style: groove;
    padding: 1%;
    cursor:pointer;
    display: block;
    margin: 0 auto;
}

.button:hover{
    border-radius: 25%;
    background: gold;
    color: black;
    border-color: black;
    box-shadow: 0  5px 50px 0 gold;
}
