body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: center darkslategray;
}

.page-title {
    color: gold;
    font-size: 300%;
    font-family: Arial;
    padding:1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.game-info{
    color: palegoldenrod;
    font-size: 100%;
    font-family: Arial;
    margin-left: 10%;
    margin-right: auto;
    border: 10px darkgoldenrod;
}

.game-window{
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px darkgoldenrod;
    background: rgba(0,0,0,0.55);
}