body {
    margin: 0;
    padding: 0;
}

.container {
    height: 200%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: center darkslategrey;
}

.page-title {
    color: gold;
    font-size: 300%;
    font-family: Arial;
    padding:1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.warning{
    color: gold;
    font-size: 150%;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.list-items {
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px darkgoldenrod;
    background: rgba(0,0,0,0.55);
}

.item-filler{
    height: 50%;
}

.item {
    height: 10%;
    width: 20%;
    margin: 4%;
    float: left;
}

.label-input{
    visibility: hidden;
    position: absolute;
}

.item-title{
    height:auto;
    width:auto;
    text-align: center;
    color: darkgoldenrod;
}

.item-thumbnail {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: 0  5px 10px 0 darkgoldenrod;
    transition: width .15s ease-in-out, height .15s ease-in-out;
    border-radius: 5%;
}

.item-thumbnail:hover {
    height: 105%;
    width: 105%;
    box-shadow: 0  10px 30px 0 gold;
}

.label-input:checked+.item-thumbnail{
    height: 105%;
    width: 105%;
    box-shadow: 0  10px 30px 0 cyan;
}


.list-tip {
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px darkgoldenrod;
    background: rgba(0,0,0,0.55);
}

.tip-filler{
    height: 20%;
}

.tip {
    height: 10%;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}

.tip-title{
    height:auto;
    width:auto;
    text-align: center;
    color: darkgoldenrod;
}

.tip-thumbnail {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    transition: width .10s ease-in-out, height .10s ease-in-out;
    box-shadow: 0  5px 10px 0 darkgoldenrod;
    border-radius: 10px;
}

.tip-thumbnail:hover {
    height: 105%;
    width:  105%;
    box-shadow: 0  5px 30px 0 gold;
}

.submit{
    margin-right: auto;
    margin-left: auto;
}

.submit-button{
    tab-size: 10;
    margin-top: 1%;
    margin-left: 70%;
    padding: 1%;
    border-radius: 25%;
    font-size: 100%;
    font-family: Arial;
    background: rgba(0,0,0,0.4);
    color: darkgoldenrod;
    border: 1px solid;
    border-color: darkgoldenrod;
}

.submit-button:hover{
    border-radius: 25%;
    background: gold;
    color: black;
    border-color: black;
    box-shadow: 0  5px 50px 0 gold;
}
